<div class="beer">
  <% if show_links %>
    <h3><%= link_to beer.name, beer %></h3>
  <% else %>
    <h3><%= beer.name %></h3>
  <% end %>
  <p>Category: <%= beer.category.name %></p>
  <p>Price: <%= number_to_currency beer.price %></p>
  <p>Alcohol: <%= beer.alcohol %></p>
  <p>IBU: <%= beer.ibu %></p>
  <% if beer.image? %>
    <p><%= image_tag beer.image, width: 200 %></p>
  <% end %>
</div>